<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.create.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.read.ReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.update.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.delete.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostmanPanelServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.create.CreatePostmanPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatedLetterServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.create.CreatedLetterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadPostmanPanelServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.read.ReadPostmanPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadLetterPanelServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.read.ReadLetterPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostmanPanelServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.update.UpdatePostmanPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLetterPanelServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.update.UpdateLetterPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLetterPanelServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.delete.DeleteLetterPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostmanPanelServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.delete.DeletePostmanPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatedPostmanServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.create.CreatedPostmanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.repeatable.BackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLetterPanelServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.create.CreateLetterPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.repeatable.ResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletedLetterServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.delete.DeletedLetterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletedPostmanServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.delete.DeletedPostmanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadResultPostman</servlet-name>
        <servlet-class>pl.kubas.rafał.read.ReadResultPostman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadResultLetter</servlet-name>
        <servlet-class>pl.kubas.rafał.read.ReadResultLetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostmanResult</servlet-name>
        <servlet-class>pl.kubas.rafał.update.UpdatePostmanResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLetterResult</servlet-name>
        <servlet-class>pl.kubas.rafał.update.UpdateLetterResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CounterServlet</servlet-name>
        <servlet-class>pl.kubas.rafał.repeatable.CounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadServlet</servlet-name>
        <url-pattern>/ReadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostmanPanelServlet</servlet-name>
        <url-pattern>/CreatePostmanPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatedLetterServlet</servlet-name>
        <url-pattern>/CreatedLetterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadPostmanPanelServlet</servlet-name>
        <url-pattern>/ReadPostmanPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadLetterPanelServlet</servlet-name>
        <url-pattern>/ReadLetterPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostmanPanelServlet</servlet-name>
        <url-pattern>/UpdatePostmanPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLetterPanelServlet</servlet-name>
        <url-pattern>/UpdateLetterPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLetterPanelServlet</servlet-name>
        <url-pattern>/DeleteLetterPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostmanPanelServlet</servlet-name>
        <url-pattern>/DeletePostmanPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatedPostmanServlet</servlet-name>
        <url-pattern>/CreatedPostmanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackServlet</servlet-name>
        <url-pattern>/BackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLetterPanelServlet</servlet-name>
        <url-pattern>/CreateLetterPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/ResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletedLetterServlet</servlet-name>
        <url-pattern>/DeletedLetterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletedPostmanServlet</servlet-name>
        <url-pattern>/DeletedPostmanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadResultPostman</servlet-name>
        <url-pattern>/ReadResultPostman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadResultLetter</servlet-name>
        <url-pattern>/ReadResultLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostmanResult</servlet-name>
        <url-pattern>/UpdatePostmanResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLetterResult</servlet-name>
        <url-pattern>/UpdateLetterResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CounterServlet</servlet-name>
        <url-pattern>/CounterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
